# IntelliJ IDEA
.idea/
*.iml
*.iws

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build-classpath.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Log dosyaları ve klasörleri
logs/
*.log

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db